
BlatherRoundWordCustomizer.sln
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe.config
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csprojAssemblyReference.cache
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Form1.resources
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Properties.Resources.resources
WindowsFormsApp1/obj/Debug/Word Injector.csproj.CoreCompileInputs.cache
WindowsFormsApp1/obj/Debug/Word Injector.csproj.FileListAbsolute.txt
WindowsFormsApp1/obj/Debug/Word Injector.csproj.GenerateResource.cache
WindowsFormsApp1/obj/Debug/Word Injector.csprojAssemblyReference.cache
